/*Variáveis*/
:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;
    
    --white: #fff;
  
    --title: #181818;
    --text: #474747;
  }
  
  /*Reset*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  button,
  input {
    border: 0;
  }
  button:focus,
  input:focus {
    border: 0;
  }

  .desconto{
    background-color: var(--title);
    color: var(--white); 
    padding: 10px;  
  }
  .desconto #ganhe{
      text-align: center;
  }
  .name-loja{
      padding: 10px;
  }
  .name-loja #jordan{
      text-align: center;
  }

  .wallpa{
    background-image:linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url(/img/wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   
    width: 100%; /*largura*/
    height: 378px;
    left: 0px;
    top: 119px;
  }
  .texto-home{
      color: var(--bgSite);
      padding: 150px;
  }

  .destaques{
    text-align: center;
    padding: 50px;
  }

  .box-tenis1{
    background-color: var(--bgCard);
    position: absolute;
    width: 280px;
    height: 200px;
    left: 120px;
    top: 712px;


  }

  .box-tenis2{
    background-color: var(--bgCard);
    position: absolute;
    width: 280px;
    height: 200px;
    left: 413px;
    top: 712px;
  }
  .box-tenis3{
    background-color: var(--bgCard);
    position: absolute;
    width: 280px;
    height: 200px;
    left: 706px;
    top: 712px;
  }
  .box-tenis4{
    background-color: var(--bgCard);
    position: absolute;
    width: 280px;
    height: 200px;
    left: 1000px;
    top: 712px;
  }
  .box-tenis5{
    background-color: var(--bgCard);
    position: absolute;
    width: 280px;
    height: 200px;
    left: 120px;
    top: 930px;

  }
  .box-tenis6{
    background-color: var(--bgCard);
    position: absolute;
    width: 280px;
    height: 200px;
    left: 413px;
    top: 930px;

  }
  .box-tenis7{
    background-color: var(--bgCard);
    position: absolute;
    width: 280px;
    height: 200px;
    left: 706px;
    top: 930px;

  }
  .box-tenis8{
    background-color: var(--bgCard);
    position: absolute;
    width: 280px;
    height: 200px;
    left: 1000px;
    top: 930px;

  }



  .tenis{
    width: 250px;
    
    
  }