@media screen and (max-width: 500px) {
   
    .desconto {
       
        width: 3755x;
        height: 30px;

 

  
        
    }

    .desconto #ganhe{
        font-size: 10px;
    }
    .name-loja{
        padding: 30px;
        font-size: 20px;
       
        
    }
}

@media screen and (max-width:500px) {

    .wallpa{
        background-repeat: no-repeat;
        background-position: center;

        height: 330px;
        width: 375px;
        left: 0px;
        top: 140px;
        border-radius: 0px;
        
 
}
.texto-home{
    padding: 80px;
    font-size: 14px;
    
}
.destaques{
 
    padding: 50px;
    font-size: 20px;
  }
    
}
@media screen and (max-width:500px){

    .box-tenis1{
    position: absolute;
    height: 230px;
    width: 340px;
    left: 20px;
    top: 724px;
    

    }

    .box-tenis2{
        height: 230px;
        width: 340px;
        left: 20px;
        top: 980px;
     
        

    }
    .box-tenis3{
        height: 230px;
        width: 340px;
        left: 20px;
        top: 1240px;
        


    }

    .box-tenis4{

        height: 230px;
        width: 340px;
        left: 20px;
        top: 1500px;
     
        
    }

    .box-tenis5{
        height: 230px;
        width: 340px;
        left: 20px;
        top: 1760px;
    
        
        
    }

    .box-tenis6{
        height: 230px;
        width: 340px;
        left: 20px;
        top: 2020px;
        
        
    }

    .box-tenis7{
        height: 230px;
        width: 340px;
        left: 20px;
        top: 2280px;
        
        
    }

    .box-tenis8{
        height: 230px;
        width: 340px;
        left: 20px;
        top: 2540px;

        
    }
    .tenis{
      width: 330px;
    }
}


@media screen and (max-width:500px){

.diretos-end{

height: 40px;
width: 375px;
left: 0px;
top: 2800px;
border-radius: 0px;
font-size: 16px;

}




}